/* Stylings for the game card itself */
.game-card-content {
	display: flex;
	flex-direction: column;
	width: 225px;
	height: 275px;
	background-color: var(--card-bg);
}

.card-img-container {
	height: 120px;
	flex: 0 0 auto;
}
.card-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.game-card-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
